/* Enter your custom styles here */
.whiteBackground {
    background-color: white;
}

.blueBorder {
    border-style: solid;
    border-width: .3px;
    border-color: #354a5f;
}

.mainLogoBg {
    background-color: #14254c;
}

.tag1Numbers{
    color: #fff2cc;
}

.tag2Numbers{
    color: #ff7979;
}

.tag3Numbers{
    color: #c6e0b4;
}

.shippedTile{
    background-color: #c6e0b4;
}

.sapUiHLayout.statClass {
    padding: .3rem 2rem !important;
    box-sizing: border-box;
}

.sapUiTableContentRow.sapUiTableRowHvr {
     /* background-color: #e8eff6; 
    color: #333333 ;
    outline: 0.125rem solid blue ;
    outline-offset: calc(-0.125rem - 0.0625rem) ; */
}

.sapUiTableContentRow.sapUiTableRowSel
{
    background-color: #e8eff6;
    /* outline: 0.125rem solid blue ; */
    outline-offset: calc(-0.125rem - 0.0625rem) ;
}
 
.sapMOHR  {
    padding: 1.1rem 1rem 0.5rem 1rem !important;
}

.sapMPanelContent {
    padding: 0rem 0.5rem 0rem 1rem !important;
} 


/*
for header.fragment
*/
 .sapUiFormResGrid>div {
    padding: .5rem 0.5rem !important;
}  


.sapUiRespGrid{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}

/* style detail header panel */
.sapMTB.sapMTBHeader-CTX {
    height: 2rem;
}

.sapMLIB.sapMUCItem.sapMUCListFirstItem, .sapMLIB.sapMUCItem.sapMUCListLastItem, .sapMLIB.sapMUCItem.sapMUCListItem {
    /* padding-left: 0.9rem; */
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    /* border-bottom-width: 0.0625rem;
    border-bottom-style: solid;
    padding-right: 1rem; */
}

.vBoxStyleDetail{
    max-width: 100%;
    overflow: hidden;
}

.styleAttachments .sapUiFup {
    display: none !important;
}

.requiredField {
    color: red !important;
}

.sapMLabelRequired,
.sapMLabelRequired::before {
    color: #c75858 !important;
}

.genAttrInfo {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.cursorPointer {
    cursor: pointer;
}

.sapMDialogScroll {
    height: 100%;
}